body {
   .heading {
      letter-spacing: -0.02em;
      text-transform: uppercase;
      font-feature-settings: 'kern' off;
   }


   h1.heading,
   h2.heading {
      font-weight: 500;
      font-size: clamp(4rem, 6vw, 6.4rem);
      line-height: 1.1;
   }


   p.sub__heading {
      position: relative;
      padding-left: clamp(3rem, 15vw, 23.2rem);
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 160%;
      color: rgba(255, 255, 255, 0.8);
      display: inline-block;

      @media only screen and (max-width: $tab) {
         text-align: right;
         margin-left: auto;
      }

      &::before {
         content: '';
         position: absolute;
         top: 50%;
         left: 0;
         width: clamp(1.5rem, 12vw, 19.2rem);
         height: 2px;
         background: #fff;
      }
   }

   .p__text {
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      opacity: .8;
   }


   &.light {
      p.sub__heading {
         color: rgba(14, 17, 15, 0.8);

         &::before {
            background: #0E110F;
         }
      }
   }
}